<div>
  <div class="text-center">
    <p-table
      #dt
      [value]="(items$ |async)!"
      [paginator]="true"
      [rows]="5"
      responsiveLayout="stack"
      [rowHover]="true"
      dataKey="idSala"
    >
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col">
            <div
              class="flex flex-wrap gap-3 justify-content-center md:justify-content-between align-content-center"
            >
              <div class="flex flex-wrap gap-3 justify-content-center">
                <button
                  pButton
                  pRipple
                  label="Nuevo"
                  pTooltip="Nueva Sala"
                  tooltipPosition="bottom"
                  icon="pi pi-plus"
                  class="p-button-success"
                  (click)="add()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="min-width: 15rem">Sala</th>
          <th>Tipo de Sala</th>
          <th pSortableColumn="cantidad">
            Cantidad de butacas <p-sortIcon field="cantidad"></p-sortIcon>
          </th>
          <th pSortableColumn="fechaRegistro" style="min-width: 10rem">
            Fecha de Registro <p-sortIcon field="fechaRegistro"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room>
        <tr>
          <td><span class="p-column-title font-bold">Nombre</span> {{ room.nombre }}</td>
          <td><span class="p-column-title font-bold">Tipo</span>{{ room.tipoSala.nombre }}</td>
          <td><span class="p-column-title font-bold">Cantidad</span>{{ room.cantidadButacas }}</td>
          <td><span class="p-column-title font-bold">Fecha de Registro</span>{{ room.fechaRegistro | date: "dd/M/yyyy" }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="edit(room)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="delete(room)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          <!-- Hay en total {{ (items$|async)! ? (items$|async)!.length : 0 }} Salas. -->
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
