<div class="field">
    <label for="username2" class="text-gray-700" >{{label}}</label>
    <div  class="p-inputgroup">
        <!-- <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> -->
        <input id="username2" type="{{type}}"  class="text-base text-color bg-white surface-overlay p-2 border-1 border-solid surface-border  appearance-none outline-none focus:border-primary "  aria-describedby="username2-help"  pInputText />    
    </div>
    <small *ngIf="valid" id="username2-help" class="p-error block">{{errorMessage}}</small>
</div>
