<form [formGroup]="formGroup" (submit)="submit()">
  <app-ui-input
    [label]="'Nombre'"
    [group]="formGroup"
    name="nombre"
    [errorMessage]="'Ingrese un nombre'"
    [type]="'text'"
  ></app-ui-input>
  <app-ui-dropdown
  optionLabel="nombre"
    [options]="roomTypes"
    [group]="formGroup"
    name="tipoSala"
    placeholder="Tipo de sala"
  ></app-ui-dropdown>
  <app-room-rows-table
    [formGroup]="formGroup"
    [items]="seats"
    (totalEmitter)="this.formGroup.controls['cantidadButacas'].setValue($event)"
  ></app-room-rows-table>
  <div class="flex justify-content-center">
    <p-button label="registrar" type="submit"></p-button>
  </div>
</form>
