<form [formGroup]="formGroup" (submit)="submit()">
    <app-ui-dropdown
      [group]="formGroup"
      name="dia"
      label="Dia"
      [options]="dias"
      optionLabel="Dia"
      placeholder="Seleccione un dia..."
    ></app-ui-dropdown>
  <app-ui-input-number
    [group]="formGroup"
    name="porcentaje"
    type="percent"
    label="Porcentaje"
    placeholder="e.g 10%"
    suffix="%"
  ></app-ui-input-number>
  <app-ui-input-text-area
    [group]="formGroup"
    name="descripcion"
    label="Descripción"
  ></app-ui-input-text-area>
  <div class="flex justify-content-center">
    <button pButton pRipple  type="submit" label="Registrar" class="p-button-raised"></button>
  </div>
</form>
