<div>
  <button
    pButton
    pRipple
    label="Añadir fila"
    type="button"
    icon="pi pi-plus"
    (click)="addRow()"
    class="p-button-rounded mx-2 p-button-success p-button-sm"
  ></button>
    <button
      pButton
      *ngIf="items.length != 0"
      pRipple
      label="Quitar fila"
      type="button"
      icon="pi pi-minus"
      (click)="popRow()"
      class="p-button-rounded mx-2 p-button-danger p-button-sm"
    ></button>
</div>
<p-table [value]="items" responsiveLayout="stack" dataKey="id" *ngIf="items.length != 0">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Fila</th>
      <th>Cantidad de butacas</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-butaca let-columns="columns">
    <tr>
      <td>
        <span class="p-column-title font-bold">Fila</span
        >{{ butaca.fila }}
      </td>
      <td>
        <span class="p-column-title font-bold">Cantidad</span>
        <div class="md:field flex flex-column">
          <input
          #inputCant
          id="cantidadButacas"
          name="cantidadButacas"
          type="number"
          pInputText
          min="0"
          [(ngModel)]="butaca.columna"
          oninput="validity.valid||(value='');"
          (change)="getTotal(inputCant.value)"
        />
        <small
        class="p-error"
        *ngIf="!butaca.columna && butaca.cantidad >= 0"
        >Cantidad requerida mayor a 0.</small
      >
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<div class="flex justify-content-end">
  <p class="text-lg">{{ total }} butacas en total</p>
</div>
