<div>
  <div class="text-center">
    <p-table
      #dt
      [value]="items"
      [rows]="3"
      [paginator]="true"
      responsiveLayout="stack"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col">
            <div
              class="flex flex-wrap gap-3 justify-content-center md:justify-content-between align-content-center"
            >
              <div class="flex flex-wrap gap-3 justify-content-center">
                <button
                  pButton
                  pRipple
                  label="Nuevo"
                  pTooltip="Nueva Función"
                  tooltipPosition="bottom"
                  icon="pi pi-plus"
                  class="p-button-success"
                  (click)="add()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Pelicula</th>
          <th>Sala</th>
          <th>Fecha de Función</th>
          <th>Hora de Función</th>
          <th>Cantidad de butacas disponibles</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-show>
        <tr>
          <td>
            <span class="p-column-title font-bold">Pelicula</span>
            {{ show.pelicula.title }}
          </td>
          <td>
            <span class="p-column-title font-bold">Sala</span
            >{{ show.sala.nombre }}
          </td>
          <td>
            <span class="p-column-title font-bold">Fecha de Función</span
            >{{ show.fechaFuncion | date: "dd/M/yyyy" }}
          </td>
          <td>
            <span class="p-column-title font-bold">Hora de Función</span
            >{{ show.fechaFuncion | date: "H:mm" }}
          </td>
          <td>
            <span class="p-column-title font-bold">Cantidad</span
            >{{ show.cantidadButacasDisponibles }}
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="edit(show)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="delete(show)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Hay en total {{ items ? items.length : 0 }} Funciones.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
