:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}
@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #5DADE2;
    }
    40% {
        stroke: #3498DB;
    }
    66% {
        stroke: #5499C7;
    }
    80%,
    90% {
        stroke: #2980B9;
    }
}