<div class="flex justify-content-center my-8">
  <div
    class="flex justify-content-center shadow-3 min-w-max md:shadow-6 flex border-round w-8 bg-white"
  >
    <div class="overflow-hidden sm:col-6 bg-image border-round-left"></div>
    <div class="col my-4">
      <div class="flex justify-content-center my-0">
        <p class="text-lg text-justify md:text-2xl  text-center text-gray-700">
          ¡Bienvenido a Cinemar!
        </p>
      </div>
      <div class="md: w-6 px-4">
        <div class="">
          <div class="block">
            <app-ui-input
            [errorMessage]="'Ingrese nombre de usuario valido'"
            [label]="'Usuario'"
            [type]="'username'"
            ></app-ui-input>
          </div>
          <div class="block">
            <app-ui-password-input [label]="'Contraseña'"></app-ui-password-input>
          </div>
        </div>
        <div class="block p-1 text-center ">
          <div class="flex ">
            <app-ui-link-label
              [label]="'Registrarse Ahora'"
              [routeLink]="['/signin']"
            ></app-ui-link-label>
            <p-button label="ingresar" [routerLink]="['/home']" icon="pi pi-arrow-right"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
