<div class="flex justify-content-center my-8">
  <div class="p-5 shadow-3 bg-image border-round w-7">
    <div class="block p-2">
      <p class="text-center text-white text-4xl">¡Bienvenido a Cinemar!</p>
    </div>
    <div class="bg-white border-round w-6">
      <div class="flex justify-content-center">
        <div class="block  p-2 text-justify">
          <app-ui-input></app-ui-input>
          <app-ui-password-input></app-ui-password-input>
        </div>
      </div>
      <div class="block p-1 text-center">
        <p-button label="ingresar" icon="pi pi-arrow-right"></p-button>
      </div>
      <div class="block  text-center">
        <p-button label="Link" styleClass="p-button-link"></p-button>
      </div>
    </div>
  </div>
</div>
