<p-card
  header="{{ header }}"
  subheader="{{ subheader }}"
  styleClass="p-card-shadow min-h-full"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="{{'https://image.tmdb.org/t/p/original/'+imageURL}}" class="h-screen">
  </ng-template>
  <div>
    <p class="text-center">{{ description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-rating [ngModel]="rating*0.5" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    </div>
  </ng-template>
</p-card>

