<p-card
  header="{{ header }}"
  subheader="{{ subheader }}"
  
  styleClass="p-card-shadow min-h-full"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="{{'https://image.tmdb.org/t/p/original/'+imageURL}}">
  </ng-template>
  <div>
    <p class="text-center">{{ description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-rating [ngModel]="rating" [readonly]="true" [stars]="10" [cancel]="false"></p-rating>
    </div>
    <div class="border-top-1 border-gray-400 my-4">
      <div class="my-4">
      </div>
    </div>
  </ng-template>
</p-card>

