<a  class="no-underline" (click)="getDetail()">
  <p-card
  header="{{ header }}"
  subheader="{{ subheader }}"
  tooltipPosition="bottom"
  pTooltip="Ver más de {{header}}"
  styleClass="p-card-shadow min-h-full  border-round hover:bg-blue-800 text-gray-800 hover:text-white"
>
  <ng-template pTemplate="header">
    <img alt="Card" loading="lazy" src="{{'https://image.tmdb.org/t/p/original/'+imageURL}}" class="md:h-screen">
  </ng-template>
  <div>
    <p class="text-center">{{ description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-rating [ngModel]="rating * 0.5" [readonly]="true" [stars]="5"  [cancel]="false"></p-rating>
    </div>
  </ng-template>
</p-card>
</a>

