<div class="my-1  md: flex justify-content-center my-8">
  <div
    class="flex justify-content-center shadow-3 min-w-max md:shadow-6 flex border-round w-8 bg-white "
  >
  <div class="overflow-hidden sm:col-4 bg-image border-round-left">
  </div>
    <div class="col">
      <p class="text-2xl text-gray-700">Registrarse</p>
      <form [formGroup]="formGroup" (submit)="submit()">
      <app-ui-input [label]="'Nombre'" [group]="formGroup" name="nombre"></app-ui-input>
      <app-ui-input [label]="'Apellido'" [group]="formGroup" name="apellido"></app-ui-input>
      <app-ui-input [label]="'Correo'" [group]="formGroup" name="correo"></app-ui-input>
      <app-ui-input [label]="'DNI'" [group]="formGroup" name="DNI"></app-ui-input>
      <app-ui-calendar [group]="formGroup" name="fechaNac" [time]="false" [touchUI]="false" label="Fecha de Nacimiento"></app-ui-calendar>
      <!-- <app-ui-input [label]="'Fecha de Nacimiento'" [group]="formGroup" name="fechaNac"></app-ui-input> -->
      <app-ui-input [label]="'Telefono'" [group]="formGroup" name="telefono"></app-ui-input>
      <app-ui-input [label]="'Nombre de Usuario'" [group]="formGroup" name="nombreUsuario"></app-ui-input>
      <app-ui-password-input [label]="'Constraseña'" [group]="formGroup" name="password"></app-ui-password-input>
      <app-ui-password-input [label]="'Repetir Constraseña'" [group]="formGroup" name="repPassword"></app-ui-password-input>
      <div class=" md: flex justify-content-center py-2">
        <p-button
          label="Volver"
          [routerLink]="['/']"
          icon="pi pi-arrow-left"
          class="px-2"
        ></p-button>
        <p-button label="Registrar" type="submit"  icon="pi pi-sign-in"></p-button>
      </div>
    </form>
    </div>
  </div>
</div>
